/* 
    COMP 333: Software Engineering
    Michael Tramontano
 */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
/* 
    Color scheme: 
    Dark: #17252A
          #2B7A78
          #3AAfA9
          #DEF2F1
          #FEFFFF
*/
body {
    background-color: #3aafa9;
}

.main {
    font-family: 'Open Sans', sans-serif;
    color: #feffff;
    font-size: 25px;
}
h1 { 
    font-family: 'Open Sans', sans-serif;
    color:#17252a;
    font-size: 50px;
}


h2 {
    font-family: 'Open Sans', sans-serif;
    color: #feffff;
    font-size: 10px;
}

ol {
    font-family: 'Open Sans', sans-serif;
    color: #feffff;
    font-size: 25px;
}

h3 { 
    font-family: 'Open Sans', sans-serif;
    color:#17252a;
    font-size: 50px;
    padding-top:0;
}

a {
    font-family: 'Open Sans', sans-serif;
    color:#feffff;
    text-decoration: none;
    font-size: 25px;
    white-space: nowrap;
}

.navbar ul {
    list-style: none;
    width: 100%;
    padding: 0;
    background-color: #3aafa9;
}

.navbar li {
    width: 150px;
    background-color: #3aafa9;
    color: #FEFFFF;
    padding: 10px;
    display: inline-block;
}

.navbar a { 
    font-family: 'Open Sans', sans-serif;
    color:#feffff;
    text-decoration: none;
    font-size: 15px;
    white-space: nowrap;
}

iframe {
    width: 100%;
    height: 100%;
}